<!DOCTYPE html>
<html>
  <head>
    <title>Shoe Stores</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Shoe Stores</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/stores">Stores</a></li>
            <li><a href="/brands">Brands</a></li>
          </ul>
          <form class="navbar-form navbar-left" role="search" action="/brand_search">
            <div class="form-group">
              <input id="brand_search" name="brand_search" type="text" class="form-control" placeholder="Brand">
            </div>
            <button type="submit" class="btn btn-default">Search by Brand</button>
          </form>
          <form class="navbar-form navbar-left" role="search" action="/store_search">
            <div class="form-group">
              <input id="store_search" name="store_search" type="text" class="form-control" placeholder="Store">
            </div>
            <button type="submit" class="btn btn-default">Search by Store</button>
          </form>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class='container'><br>
        #parse( $template )

    </div>
  </body>
</html>
